### Work and Health
1. Importing the data and building the data-frames
2. data exploration
    1. basic exploration
    2. statistical exploration
    3. visual exploration
3. Pre-processing
    1. Data Cleaning
    2. Outliers
    3. Missing Values
    4. Feature Engineering
    5. In-depth exploration
    6. Data transformation

<br><br>
note: focus on 2009 vs 2015
1. geospatial analysis

### Importing the data, libraries and working on the data-frames

In [24]:
#Import the basic libraries
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

In [4]:
#Import the data

df_diseases = pd.read_csv('/Users/luisazevedo/Documents/GitHub/PfDS---Work-Health/raw data/Diseases_GHDx/IHME-GBD_2019_DATA-571888e5-1.csv')
df_employment = pd.read_csv('/Users/luisazevedo/Documents/GitHub/PfDS---Work-Health/raw data/Employment_WB/Employment_WB.csv')
df_health_cost = pd.read_csv('/Users/luisazevedo/Documents/GitHub/PfDS---Work-Health/raw data/Health_expenditure_WB/Health_expenditure_WB.csv')
df_gpd = pd.read_csv('/Users/luisazevedo/Documents/GitHub/PfDS---Work-Health/raw data/GPD_WB/GPD_WB.csv')

In [8]:
df_diseases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168120 entries, 0 to 168119
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   measure_id     168120 non-null  int64
 1   measure_name   168120 non-null  object
 2   location_id    168120 non-null  int64
 3   location_name  168120 non-null  object
 4   sex_id         168120 non-null  int64
 5   sex_name       168120 non-null  object
 6   age_id         168120 non-null  int64
 7   age_name       168120 non-null  object
 8   cause_id       168120 non-null  int64
 9   cause_name     168120 non-null  object
 10  metric_id      168120 non-null  int64
 11  metric_name    168120 non-null  object
 12  year           168120 non-null  int64
 13  val            168120 non-null  float64
 14  upper          168120 non-null  float64
 15  lower          168120 non-null  float64
dtypes: float64(3), int64(7), object(6)
memory usage: 20.5+ MB

In [9]:
df_employment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3173 entries, 0 to 3172
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    3170 non-null   object
 1   Series Code    3168 non-null   object
 2   Country Name   3168 non-null   object
 3   Country Code   3168 non-null   object
 4   2000 [YR2000]  3168 non-null   object
 5   2001 [YR2001]  3168 non-null   object
 6   2002 [YR2002]  3168 non-null   object
 7   2003 [YR2003]  3168 non-null   object
 8   2004 [YR2004]  3168 non-null   object
 9   2005 [YR2005]  3168 non-null   object
 10  2006 [YR2006]  3168 non-null   object
 11  2007 [YR2007]  3168 non-null   object
 12  2008 [YR2008]  3168 non-null   object
 13  2009 [YR2009]  3168 non-null   object
 14  2010 [YR2010]  3168 non-null   object
 15  2011 [YR2011]  3168 non-null   object
 16  2012 [YR2012]  3168 non-null   object
 17  2013 [YR2013]  3168 non-null   object
 18  2014 [YR2014]  3168 non-null   object
 19  2015 [YR2015]  3168 non-null   object
 20  2016 [YR2016]  3168 non-null   object
 21  2017 [YR2017]  3168 non-null   object
 22  2018 [YR2018]  3168 non-null   object
 23  2019 [YR2019]  3168 non-null   object
 24  2020 [YR2020]  3168 non-null   object
dtypes: object(25)
memory usage: 619.9+ KB

In [10]:
df_health_cost.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 533 entries, 0 to 532
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    530 non-null    object
 1   Series Code    528 non-null    object
 2   Country Name   528 non-null    object
 3   Country Code   528 non-null    object
 4   2000 [YR2000]  528 non-null    object
 5   2001 [YR2001]  528 non-null    object
 6   2002 [YR2002]  528 non-null    object
 7   2003 [YR2003]  528 non-null    object
 8   2004 [YR2004]  528 non-null    object
 9   2005 [YR2005]  528 non-null    object
 10  2006 [YR2006]  528 non-null    object
 11  2007 [YR2007]  528 non-null    object
 12  2008 [YR2008]  528 non-null    object
 13  2009 [YR2009]  528 non-null    object
 14  2010 [YR2010]  528 non-null    object
 15  2011 [YR2011]  528 non-null    object
 16  2012 [YR2012]  528 non-null    object
 17  2013 [YR2013]  528 non-null    object
 18  2014 [YR2014]  528 non-null    object
 19  2015 [YR2015]  528 non-null    object
 20  2016 [YR2016]  528 non-null    object
 21  2017 [YR2017]  528 non-null    object
 22  2018 [YR2018]  528 non-null    object
 23  2019 [YR2019]  528 non-null    object
 24  2020 [YR2020]  528 non-null    object
dtypes: object(25)
memory usage: 104.2+ KB

In [11]:
df_gpd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269 entries, 0 to 268
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    266 non-null    object
 1   Series Code    264 non-null    object
 2   Country Name   264 non-null    object
 3   Country Code   264 non-null    object
 4   2000 [YR2000]  264 non-null    object
 5   2001 [YR2001]  264 non-null    object
 6   2002 [YR2002]  264 non-null    object
 7   2003 [YR2003]  264 non-null    object
 8   2004 [YR2004]  264 non-null    object
 9   2005 [YR2005]  264 non-null    object
 10  2006 [YR2006]  264 non-null    object
 11  2007 [YR2007]  264 non-null    object
 12  2008 [YR2008]  264 non-null    object
 13  2009 [YR2009]  264 non-null    object
 14  2010 [YR2010]  264 non-null    object
 15  2011 [YR2011]  264 non-null    object
 16  2012 [YR2012]  264 non-null    object
 17  2013 [YR2013]  264 non-null    object
 18  2014 [YR2014]  264 non-null    object
 19  2015 [YR2015]  264 non-null    object
 20  2016 [YR2016]  264 non-null    object
 21  2017 [YR2017]  264 non-null    object
 22  2018 [YR2018]  264 non-null    object
 23  2019 [YR2019]  264 non-null    object
 24  2020 [YR2020]  264 non-null    object
dtypes: object(25)
memory usage: 52.7+ KB

### Let's first focus on a specific timestamp and explore spatial variations:
* year of 2009

In [21]:
#1. df_diseases
df_diseases.drop(columns=['measure_id','location_id','measure_name','sex_id','age_id','age_name','cause_id','metric_id'\
                         ,'upper','lower'], inplace=True)

In [37]:
#sub-divide df in df_male & df_female
df_diseases_male_2009 = df_diseases.loc[df_diseases['sex_name'].isin(['Male'])]\
.loc[df_diseases['year'] == 2009].drop(columns=['sex_name','year']).copy()

df_diseases_female_2009 = df_diseases.loc[df_diseases['sex_name'].isin(['Female'])]\
.loc[df_diseases['year'] == 2009].drop(columns=['sex_name','year']).copy()

df_diseases_male_2009.cause_name.value_counts()

Anxiety disorders             394
Dermatitis                    394
Headache disorders            394
Musculoskeletal disorders     394
Bipolar disorder              394
Depressive disorders          394
Stroke                        394
Hypertensive heart disease     44
Name: cause_name, dtype: int64

In [31]:
new_columns_abs = ['Anxiety disorders','Dermatitis','Headache disorders','Musculoskeletal disorders'\
                  ,'Bipolar disorder','Depressive disorders','Stroke','Hypertensive heart disease']

new_columns_per = ['Anxiety disorders_%','Dermatitis_%','Headache disorders_%','Musculoskeletal disorders_%'\
                  ,'Bipolar disorder_%','Depressive disorders_%','Stroke_%','Hypertensive heart disease_%']

   location_name                  cause_name metric_name  year            val
0     Kyrgyzstan          Headache disorders      Number  2000  284784.143493
3     Kyrgyzstan          Headache disorders     Percent  2000       0.028188
6         Brazil                      Stroke      Number  2000  115452.977165
9         Brazil                      Stroke     Percent  2000       0.000208
12        Brazil  Hypertensive heart disease      Number  2000       0.000000
15        Brazil  Hypertensive heart disease     Percent  2000       0.000000
18    Uzbekistan                      Stroke      Number  2000   15311.802201
21    Uzbekistan                      Stroke     Percent  2000       0.000323
24         China  Hypertensive heart disease      Number  2000       0.000000
27         China  Hypertensive heart disease     Percent  2000       0.000000